modules = ["python-3.11"]
run = "uvicorn app.main:app --host 0.0.0.0 --port 8080"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn app.main:app --host 0.0.0.0 --port 8080"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 8080
externalPort = 80
